body.dark-mode {
  background-color: #333;
  color: #f8f9fa;
}

body.dark-mode .navbar {
  background-color: #444;
}

body.dark-mode .navbar a {
  color: #f8f9fa;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

body.dark-mode .navbar a {
  color: #f8f9fa;
}

/* Custom CSS */
.text-input {
  transition: width 0.3s ease;
}


